@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&family=Roboto+Condensed&family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css?family=Comfortaa|Kaushan+Script|Oswald&display=swap");

:root {
  --modal-duration: 1s;
  --primary-color: #30336b;
  --secondary-color: #fb1c25;
  --text-shadow-color: #1c9797;
  --main-font-family: "Sacramento", cursive;
  --secondary-font-family: "Lato", sans-serif;
  --third-font-family: Oswald, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--third-font-family);
  line-height: 1.4;
  /* font-family: "Lato", sans-serif; */
  /* filter: blur(4px); */
}

/*===========NAVBAR MAIN STYLE===================*/
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url("https://dishup.qodeinteractive.com/wp-content/themes/dishup/assets/img/background_pattern.jpg");
  /* color: #fff; */
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 0.5rem 1rem;
  /* overflow: hidden; */
  /* box-shadow: 0 5px rgba(0, 0, 0, 0.4); */
  border-bottom: 1px solid rgb(87, 87, 87);
}

/*===========NAVBAR LOGO===================*/
nav .logo {
  text-align: center;
}

nav .logo img {
  width: 150px;
}

/*===========NAVBAR LINKS===================*/
nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li a {
  font-size: 1rem;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  padding: 0.75rem;
  margin: 0 0.25rem;
}

nav ul li a:hover {
  color: var(--secondary-color);
  border-bottom: 3px transparent solid;
  transition: border-color 1s;
}
nav ul li a.active {
  color: var(--secondary-color);
}
form {
  position: relative;
  width: 200px;
  max-width: 100%;
}
/*500px-ees dooshlohoor menu huraagdaj BAR dr darhaar garch irne */
.checkBtn {
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}

form input {
  border: 0;
  border-radius: 50px;
  font-size: 10px;
  padding: 10px 20px;
  width: 100%;
}

form button {
  position: absolute;
  top: 1px;
  right: 0px;
  background-color: var(--secondary-color);
  border: 0;
  border-radius: 50px;
  color: #fff;
  font-size: 10px;
  padding: 8px 15px;
}

.navBtnContainer {
  display: flex;
  align-items: center;
}

/* SignUp, Login Button Style*/
.navBtnContainer button {
  font-family: inherit;
  font-size: 0.8rem;
  letter-spacing: 2px;
  background-color: var(--secondary-color);
  border: 0;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  padding: 5px 10px;
  margin-left: 10px;
  position: relative;
}

/* Hereglegch newtreh LINK */
.profile {
  margin-left: 10px;
  border-radius: 10px;
  background-color: #ccc;
  text-align: center;
  padding: 0px 5px;
}
.fa-user {
  width: 26px;
  height: 26px;
  color: #000;
}

/* User Profile Modal Window */
.user-profile-modal {
  background-color: #fff;
  padding: 10px 20px 0;
  width: 150px;
  border-radius: 15px;
  transition: 0.5s;
  position: absolute;
  top: 90px;
  right: 10px;
  opacity: 0;
  z-index: 2;
}
.user-profile-modal.hidden {
  opacity: 1;
}
.user-profile-modal div {
  display: flex;
  flex-direction: column;
}
.user-profile-modal h3 {
  text-align: center;
  font-size: 1rem;
  padding-bottom: 10px;
  font-weight: 500;
  line-height: 1.2em;
}
.user-profile-modal::before {
  content: "";
  position: absolute;
  top: -30px;
  right: 18px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 50px solid rgb(255, 255, 255);
  /* background-color: #fff; */
  /* transform: rotate(45deg); */
}
.user-profile-modal div li {
  list-style: none;
  padding: 10px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
}

.user-profile-modal div li i {
  max-width: 20px;
  margin-right: 10px;
  opacity: 0.5;
  transform: 0.5s;
}
.user-profile-modal div li:hover i {
  opacity: 1;
}
.user-profile-modal div li a {
  font-size: 0.9rem;
  text-decoration: none;
  color: #555;
  display: inline-block;
}
.user-profile-modal div li:last-child a {
  padding-left: 30px;
}

.user-profile-modal div li a:hover {
  color: var(--secondary-color);
}

/*====================HEADER SECTION=============== */
header {
  height: 100vh;
  color: #fff;
  background-image: url("https://images.unsplash.com/photo-1414235077428-338989a2e8c0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
header .showcase-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
header h1 {
  font-family: var(--main-font-family);
  color: #fff;
  font-size: 4rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
  text-shadow: 0 0 16.49px;
  animation: moveInLeft 1s ease-out;
  transition: all 0.2s;
}
header h1:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
    transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
header p {
  font-family: var(--third-font-family);
  font-size: 3rem;
  color: #fff;
  text-shadow: 3px 5px 0px var(--text-shadow-color);
  animation: moveInRight 1s ease-out;
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
    transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
header button {
  font-family: var(--third-font-family);
  background-color: var(--secondary-color);
  border: 0;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  padding: 5px 20px;
  font-size: 1.2rem;
  margin-top: 2rem;
  transform: scale(0.98);
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

/*====================MAIN SECTION=============== */
main {
  background-image: url("https://dishup.qodeinteractive.com/wp-content/themes/dishup/assets/img/background_pattern.jpg");
}

main h1 {
  font-family: var(--main-font-family);
  color: var(--secondary-color);
  font-size: 4rem;
  font-weight: 300;
  padding-top: 1rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
  text-shadow: 0 0 16.49px rgb(251 29 37 /86%);
  text-align: center;
}
main h2 {
  font-family: var(--third-font-family);
  color: #fff;
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 0.75rem;
  line-height: 1.1;
  display: flex;
  align-items: center;
}
main p {
  font-family: var(--third-font-family);
  font-size: 1rem;
  color: #fff;
  margin: 10px 0;
}
main p strong {
  color: var(--secondary-color);
}

.main-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 1;
  width: 100%;
  padding: 50px 0;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}

.main-container .left-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
  padding: 0 15px;
  text-align: center;
}
.main-container .left-content button {
  font-family: var(--third-font-family);
  background-color: var(--secondary-color);
  border: 0;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  padding: 5px 20px;
  font-size: 1rem;
  margin-top: 1rem;
  transform: scale(0.98);
}
.left-content img {
  border-radius: 50%;
  width: 100px;
  margin-left: 10px;
}
.main-container .right-content {
  margin: 0 auto;
  width: 50%;
  padding: 0 15px;
  overflow: hidden;
}
.right-content img {
  width: 500px;
  border-radius: 10px;
}
.right-content:hover img {
  transform: scale(1.1);
  transition: transform 0.5s ease;
}

/* Rating Star*/
.stars-outer {
  position: relative;
  display: inline-block;
  margin: 10px 0;
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-outer::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #ccc;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #f8ce0b;
}

.number-rating {
  font-family: var(--third-font-family);
  color: #fff;
}

/* JS dr ".circle class idewhjsineer tsagaan booronhii durs garna. */
button:active {
  outline: 0;
  transform: scale(0.9);
}
button:hover {
  box-shadow: 0 0 0.5vw #f2676d, 0 0 0.3vw #f2676d, 0 0 0.3vw #f2676d,
    0 0 0 #ed1c24, 0 0 0.1vw #ed1c24, 0.05vw 0 0 #f2676d, 0.05vw 0 0 #ed1c24,
    0.05vw 0 0.05vw #ed1c24, 0.05vw 0 0.5vw #ed1c24, 0.02vw 0 0.05vw #ed1c24,
    0.05vw 0 0.05vw #ed1c24, -0.05vw 0 0.3vw #ed1c24, 0.05vw 0 0.2vw #ed1c24,
    -0.1vw 0 0.2vw #f9343b, -0.05vw 0 0 #f9343b, 0 0 1.5vw #f9343b;
}
button {
  position: relative !important;
  overflow: hidden;
}
button .circle {
  position: absolute;
  background-color: #fff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: scale 0.6s ease-out;
}

@keyframes scale {
  to {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}

/* ====================MEDIA QUERIES======================= */
/* ===================== SMARTPHONES===================== */
@media (max-width: 500px) {
  nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 30px;
    background-color: #000000;
    top: 55px;
    left: -100%;
    transition: all 0.5s;
  }

  nav .logo {
    text-align: center;
  }
  nav .logo img {
    width: 100px;
  }

  nav ul li a {
    font-size: 0.75rem;
    padding: 0.25rem;
  }
  nav ul li a:hover {
    border: 0;
  }
  nav .checkBtn {
    display: block;
  }
  #check:checked ~ ul {
    left: 0;
  }
  .navBtnContainer button {
    font-size: 0.6rem;
  }
  .main-container {
    flex-direction: column;
    padding: 0;
  }
  .main-container .left-content,
  .main-container .right-content {
    width: auto;
  }
  .right-content img {
    width: 300px;
  }
  .left-content h2 {
    font-size: 2rem;
  }
}

/* ======================TABLET====================== */
@media (min-width: 501px) and (max-width: 768px) {
  nav ul li a {
    font-size: 0.75rem;
    padding: 0.25rem;
  }

  .navBtnContainer button {
    font-size: 0.75rem;
  }
  .main-container .left-content {
    width: 40%;
  }
  .left-content h2 {
    font-size: 2rem;
  }
  .left-content img {
    width: 75px;
  }
  .right-content img {
    width: 400px;
  }
}

/* ======================NORMAL====================== */
@media (min-width: 769px) and (max-width: 1200px) {
  .main-container .left-content {
    width: 50%;
  }
  .right-content img {
    width: 400px;
  }
}

/* ====================WIDE SCREEN================== */
@media (min-width: 1200px) {
  .main-container .right-content {
    width: auto;
  }
  .main-container .left-content {
    margin-left: auto;
  }
  .left-content img {
    margin-left: 20px;
  }
}

/* =======================LANDSCAPE================= */
@media (min-width: 1200px) {
}
